body, html {

}
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

/* formulario */

.input-form {
  border-radius: 15px;
  padding: 15px;
     
 } 

/* efeito botão */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

/* botão confira */
.btn-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    
    span {
      z-index: 20;
    }
    
    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }
  }
  
  .btn-4:hover {
    
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
/* icons tecnology */
.icon{
    filter: grayscale(80%);
}

/* botão login */
.center {
  width: 180px;
  height: 90px;
  margin-top:20px;
  position: relative;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.3s ease-in-out;
  padding: 4px;
}

svg {
  position: absolute;
  left: 13px;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 0.2s ease-in-out;
  background: #da8e4f;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
/* images do site */
.img-laravel{
    background-image: url('img/laravel.png'); 
}
.img-content{
    width: 100%;
    height: 434px;
    border-radius: 20px;
    background-image: url('img/content.jpg'); 
}
.section-content{
  max-width:1200px;
  margin-left:21%;
}
.img-security{
  width: 100%;
  height: 547px;
  background-image: url('img/security.jpg'); 
}
@media screen and (max-width: 390px) {
  .section-content{
    margin-left:0;
  }
  .img-security{
    width: 100%;
    height: 434px;
  }
}

.img-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  border-radius: 0 0 230px 0;
  background-image: url('img/fundo.jpg'); 
  background-size: cover; 
  z-index: -1;
}
@media screen and (max-width: 390px) {
  .img-bottom {
      width: 100%;
      border-radius: 0; 
      height: 750px;
  }
}
.img-tamplate{
    position: absolute;
    top: 15%;
    left: 52%;
    width: 642px;
    height: 62%;
    background-image: url(img/engine.png);
    background-size: cover;
    z-index: 2;
}
@media screen and (max-width: 390px) {
  .img-tamplate {
      display: none;
  }
}
.img-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 230px 0;
    background-color: rgba(32, 31, 31, 0.281);
    filter: grayscale(1), blur(1);
    z-index: 5;
}